In [117]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import boto3
from datetime import datetime
import os
pd.set_option("display.max_columns" , None)

In [118]:
os.environ['AWS_ACCESS_KEY_ID'] = "AKIAZ3MFCERB52HTRCH6"
os.environ['AWS_SECRET_ACCESS_KEY'] = "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"

session = boto3.Session(
    aws_access_key_id = os.environ['AWS_ACCESS_KEY_ID'],
    aws_secret_access_key = os.environ['AWS_SECRET_ACCESS_KEY'],
    region_name = 'us-east-2'
)

s3 = session.client('s3', region_name = 'us-east-2')

bucket = 'recentjobslistingbucket'
response = s3.list_objects_v2(Bucket = bucket, Prefix = 'Raw_data/')

if 'Contents' in response:
    for obj in response ['Contents']:
        #date = datetime.now().strftime('%m-%d-%Y')
        date = str('08-01-2025')
        if date in obj['Key']:
            local_name = obj['Key'].split('/')[1]
            s3.download_file(bucket, obj['Key'], local_name)
            print(f'Successfully downloaded {local_name} file')

Successfully downloaded final_jobs_df_raw_08-01-2025.csv file

In [119]:
jobs_df = pd.read_csv('final_jobs_df_raw_08-01-2025.csv')
print(f'the shape of the dataset is {jobs_df.shape}')
jobs_df.head()

the shape of the dataset is (1651, 7)

,Company Name,Job Title,Location,Job Description,Salary Estimate,Scrapped_date,Job_Role
0,Astyra Corporation,Business Analyst (BHJOB1435_34508),"Richmond, VA","Business Analyst\n*Local to Richmond, VA only ...",$50.00 – $52.00/hr (Employer provided),08-01-2025,Data Analyst
1,GLC Group,Senior Analyst,United States,Overview\nA leading national multifamily real ...,-1,08-01-2025,Data Analyst
2,Flex Employee Services,Urgent Hiring Marketing Performance Data Analy...,"Stanford, CA",Are you ready for the next step in your career...,$44.50/hr (Employer provided),08-01-2025,Data Analyst
3,Carelinks ABA,Board Certified Behavioral Analyst (BCBA),"Las Cruces, NM",Carelinks ABA is seeking compassionate and dri...,$96K/yr (Employer provided),08-01-2025,Data Analyst
4,Poshmark,Data Analyst (Product),"Redwood City, CA",Confidence can sometimes hold us back from app...,$102K – $141K/yr (Employer provided),08-01-2025,Data Analyst

In [120]:
dicts = {}
for col in jobs_df.columns:
    count = jobs_df[jobs_df[col] == '-1'].shape[0]
    dicts[col] = count

print(dicts)

{'Company Name': 2, 'Job Title': 2, 'Location': 2, 'Job Description': 6, 'Salary Estimate': 211, 'Scrapped_date': 0, 'Job_Role': 0}

In [121]:
jobs_df.isna().sum()

Company Name        0
Job Title           0
Location           14
Job Description     0
Salary Estimate     0
Scrapped_date       0
Job_Role            0
dtype: int64

In [122]:
jobs_df = jobs_df[~jobs_df.drop('Job_Role', axis = 1).duplicated() == True]

In [123]:
jobs_df

,Company Name,Job Title,Location,Job Description,Salary Estimate,Scrapped_date,Job_Role
0,Astyra Corporation,Business Analyst (BHJOB1435_34508),"Richmond, VA","Business Analyst\n*Local to Richmond, VA only ...",$50.00 – $52.00/hr (Employer provided),08-01-2025,Data Analyst
1,GLC Group,Senior Analyst,United States,Overview\nA leading national multifamily real ...,-1,08-01-2025,Data Analyst
2,Flex Employee Services,Urgent Hiring Marketing Performance Data Analy...,"Stanford, CA",Are you ready for the next step in your career...,$44.50/hr (Employer provided),08-01-2025,Data Analyst
3,Carelinks ABA,Board Certified Behavioral Analyst (BCBA),"Las Cruces, NM",Carelinks ABA is seeking compassionate and dri...,$96K/yr (Employer provided),08-01-2025,Data Analyst
4,Poshmark,Data Analyst (Product),"Redwood City, CA",Confidence can sometimes hold us back from app...,$102K – $141K/yr (Employer provided),08-01-2025,Data Analyst
...,...,...,...,...,...,...,...
1646,Philo Ventures,"Software Engineer Intern - NASA Grant (Lehi, UT)","Lehi, UT","Lehi,Utah\nIntern\n\nStudent Software Engineer...",$47K – $85K/yr (Glassdoor est.),08-01-2025,Machine Learning Intern
1647,Siemens Healthineers,Research Intern-2,"Princeton, NJ",Join us in pioneering breakthroughs in healthc...,$31.00 – $36.00/hr (Employer provided),08-01-2025,Machine Learning Intern
1648,GrayMatter Robotics,Robotics Engineering Intern: Software,"Los Angeles, CA","Summary\nHeadquartered in sunny Los Angeles, G...",$35.00 – $45.00/hr (Employer provided),08-01-2025,Machine Learning Intern
1649,Ferris State University,Software Engineering Intern (Student Position),"Grand Rapids, MI",Job no: 497143\nWork type: Student Employment ...,$13.25/hr (Employer provided),08-01-2025,Machine Learning Intern
1650,GrayMatter Robotics,Robotics Engineering Intern: Systems & Applica...,"Los Angeles, CA",Introduction:\n\nHello! I am Evan the Universi...,$30.00 – $40.00/hr (Employer provided),08-01-2025,Machine Learning Intern

In [124]:
def job_title_clean(x):
    x = x.lower()
    if 'intern' in x or 'co-op' in x or 'co - op' in x:
        if 'ai/ml' in x or 'ml' in x or "machine learning engineer" in x or "learning" in x or 'mle' in x or 'ai' in x:
            return 'Machine Learning Intern'
        elif 'scientist' in x or 'data science' in x:
            return 'Data Scientist Intern'
        elif 'analyst' in x or 'analytics' in x or 'analysis' in x or 'business' in x or 'visualization' in x or 'data consultant' in x:
            return 'Data Analyst Intern'
        else:
            return 'Intern'
            
    if 'analyst' in x or 'analytics' in x or 'analysis' in x or 'business' in x or 'visualization' in x or 'data consultant' in x:
        return "Data Analyst"
    elif 'scientist' in x or 'data science' in x:
        return "Data Scientist"
    elif 'ai/ml' in x or 'ml' in x or "machine learning engineer" in x or "learning" in x or 'mle' in x:
        return "Machine learning engineer"
    return "Other"

In [125]:
jobs_df['Job_Title_Cleaned'] = jobs_df['Job Title'].apply(job_title_clean)

In [126]:
jobs_df = jobs_df[~((jobs_df['Job_Title_Cleaned'] == 'Other') | (jobs_df['Job_Title_Cleaned'] == 'Intern'))]

In [127]:
def clean_salary_data(df):
    df = df.copy()
    salary = df['Salary Estimate'].apply(lambda x: x.split('/')[0].strip() if '/' in x else x)

    salary = salary.str.replace('$', '').str.replace('K', '')

    df['Hourly'] = df['Salary Estimate'].apply(lambda x: 1 if 'hr' in x.lower() else 0)

    df['Min_Salary'] = salary.apply(lambda x: float(x.split('–')[0].strip()) if '–' in x else float(x))
    df['Max_Salary'] = salary.apply(lambda x: float(x.split('–')[1].strip()) if '–' in x else float(x))
    
    df['Min_Salary'] = df.apply(lambda x: x['Min_Salary'] * 2 if x['Hourly'] == 1 else x['Min_Salary'], axis=1)
    df['Max_Salary'] = df.apply(lambda x: x['Max_Salary'] * 2 if x['Hourly'] == 1 else x['Max_Salary'], axis=1)

    df['Avg Salary'] = (df['Min_Salary'] + df['Max_Salary']) / 2
    
    return df

In [128]:
jobs_df = clean_salary_data(jobs_df)

In [129]:
jobs_df

,Company Name,Job Title,Location,Job Description,Salary Estimate,Scrapped_date,Job_Role,Job_Title_Cleaned,Hourly,Min_Salary,Max_Salary,Avg Salary
0,Astyra Corporation,Business Analyst (BHJOB1435_34508),"Richmond, VA","Business Analyst\n*Local to Richmond, VA only ...",$50.00 – $52.00/hr (Employer provided),08-01-2025,Data Analyst,Data Analyst,1,100.0,104.0,102.0
1,GLC Group,Senior Analyst,United States,Overview\nA leading national multifamily real ...,-1,08-01-2025,Data Analyst,Data Analyst,0,-1.0,-1.0,-1.0
2,Flex Employee Services,Urgent Hiring Marketing Performance Data Analy...,"Stanford, CA",Are you ready for the next step in your career...,$44.50/hr (Employer provided),08-01-2025,Data Analyst,Data Analyst,1,89.0,89.0,89.0
3,Carelinks ABA,Board Certified Behavioral Analyst (BCBA),"Las Cruces, NM",Carelinks ABA is seeking compassionate and dri...,$96K/yr (Employer provided),08-01-2025,Data Analyst,Data Analyst,0,96.0,96.0,96.0
4,Poshmark,Data Analyst (Product),"Redwood City, CA",Confidence can sometimes hold us back from app...,$102K – $141K/yr (Employer provided),08-01-2025,Data Analyst,Data Analyst,0,102.0,141.0,121.5
...,...,...,...,...,...,...,...,...,...,...,...,...
1633,NVIDIA,"Research Scientist, Robotics Research - New Co...","Seattle, WA",NVIDIA is at the forefront of the AI and robot...,$160K – $259K/yr (Employer provided),08-01-2025,Machine Learning Intern,Data Scientist,0,160.0,259.0,209.5
1637,Snapchat,"Senior Research Scientist, Creative Vision","Los Angeles, CA",Snap Inc\nis a technology company. We believe ...,$178K – $313K/yr (Employer provided),08-01-2025,Machine Learning Intern,Data Scientist,0,178.0,313.0,245.5
1639,The Allen Institute for Artificial Intelligence,"Research Scientist, Robotics","Seattle, WA",Persons in these roles are expected to spend p...,$167K – $261K/yr (Employer provided),08-01-2025,Machine Learning Intern,Data Scientist,0,167.0,261.0,214.0
1641,DoorDash,"Machine Learning Intern (Master’s only), Fall ...","San Francisco, CA","Job ID: 3203859\nDoorDash, Inc.\nSan Francisco...",-1,08-01-2025,Machine Learning Intern,Machine Learning Intern,0,-1.0,-1.0,-1.0
1643,NVIDIA,Senior Robotics Research Scientist,"Seattle, WA",We are now looking for a Senior Robotics Resea...,$184K – $299K/yr (Employer provided),08-01-2025,Machine Learning Intern,Data Scientist,0,184.0,299.0,241.5

In [130]:
jobs_df['State'] = jobs_df['Location'].apply(lambda x : str(x).split(',')[1].strip() if ',' in str(x) else None)

In [131]:
jobs_df

,Company Name,Job Title,Location,Job Description,Salary Estimate,Scrapped_date,Job_Role,Job_Title_Cleaned,Hourly,Min_Salary,Max_Salary,Avg Salary,State
0,Astyra Corporation,Business Analyst (BHJOB1435_34508),"Richmond, VA","Business Analyst\n*Local to Richmond, VA only ...",$50.00 – $52.00/hr (Employer provided),08-01-2025,Data Analyst,Data Analyst,1,100.0,104.0,102.0,VA
1,GLC Group,Senior Analyst,United States,Overview\nA leading national multifamily real ...,-1,08-01-2025,Data Analyst,Data Analyst,0,-1.0,-1.0,-1.0,None
2,Flex Employee Services,Urgent Hiring Marketing Performance Data Analy...,"Stanford, CA",Are you ready for the next step in your career...,$44.50/hr (Employer provided),08-01-2025,Data Analyst,Data Analyst,1,89.0,89.0,89.0,CA
3,Carelinks ABA,Board Certified Behavioral Analyst (BCBA),"Las Cruces, NM",Carelinks ABA is seeking compassionate and dri...,$96K/yr (Employer provided),08-01-2025,Data Analyst,Data Analyst,0,96.0,96.0,96.0,NM
4,Poshmark,Data Analyst (Product),"Redwood City, CA",Confidence can sometimes hold us back from app...,$102K – $141K/yr (Employer provided),08-01-2025,Data Analyst,Data Analyst,0,102.0,141.0,121.5,CA
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1633,NVIDIA,"Research Scientist, Robotics Research - New Co...","Seattle, WA",NVIDIA is at the forefront of the AI and robot...,$160K – $259K/yr (Employer provided),08-01-2025,Machine Learning Intern,Data Scientist,0,160.0,259.0,209.5,WA
1637,Snapchat,"Senior Research Scientist, Creative Vision","Los Angeles, CA",Snap Inc\nis a technology company. We believe ...,$178K – $313K/yr (Employer provided),08-01-2025,Machine Learning Intern,Data Scientist,0,178.0,313.0,245.5,CA
1639,The Allen Institute for Artificial Intelligence,"Research Scientist, Robotics","Seattle, WA",Persons in these roles are expected to spend p...,$167K – $261K/yr (Employer provided),08-01-2025,Machine Learning Intern,Data Scientist,0,167.0,261.0,214.0,WA
1641,DoorDash,"Machine Learning Intern (Master’s only), Fall ...","San Francisco, CA","Job ID: 3203859\nDoorDash, Inc.\nSan Francisco...",-1,08-01-2025,Machine Learning Intern,Machine Learning Intern,0,-1.0,-1.0,-1.0,CA
1643,NVIDIA,Senior Robotics Research Scientist,"Seattle, WA",We are now looking for a Senior Robotics Resea...,$184K – $299K/yr (Employer provided),08-01-2025,Machine Learning Intern,Data Scientist,0,184.0,299.0,241.5,WA

In [132]:
import re

def extract_experience_years(text):
    text = text.lower()

    match = re.search(r'(\d+)\s*(?:\+|\-to|-)?\s*(\d+)?\s*(?:years?|yrs?)\s+(?:of )?(?:relevant )?experience', text)
    if match:
        return int(match.group(1))

    match = re.search(r'(?:at least|minimum|least|over)\s+(\d+)\s*(?:years?|yrs?)', text)
    if match:
        return int(match.group(1))

    if re.search(r'(some|a few|couple of)\s+(years?\s+)?experience', text):
        return 2  

    if re.search(r'entry[-\s]?level|fresher|no (prior )?experience', text):
        return 0

    return None

In [133]:
jobs_df['Experience'] = jobs_df['Job Description'].apply(extract_experience_years)

In [134]:
def seniority(title, experience):
    text = str(title).lower().strip()

    if any(keyword in text for keyword in ['intern', 'co-op', 'trainee', 'student']):
        return 'Intern'

    if any(keyword in text for keyword in ['senior', 'sr', 'lead', 'principal', 'manager', 'director', 'head']):
        return 'Senior'

    if any(keyword in text for keyword in ['junior', 'jr', 'jr.', 'entry-level', 'entry level']):
        return 'Junior'

    try:
        experience = int(experience)
        if experience >= 5:
            return 'Senior'
        elif experience <= 2:
            return 'Junior'
        elif 3 <= experience < 5:
            return 'Mid'
    except:
        pass 

    return np.nan

In [135]:
jobs_df['Seniority_simplified'] = jobs_df.apply(
    lambda row: seniority(row['Job Title'], row['Experience']),
    axis=1
)

In [136]:
def education_extract(x):
    if pd.isna(x):
        return "Not Mentioned"
    
    x = x.lower()

    if any(word in x for word in ['phd', 'ph.d', 'doctorate']):
        return 'PhD'
    elif any(word in x for word in ['bachelor', 'b.s', 'b.sc', 'undergraduate']):
        return 'Bachelors'
    elif any(word in x for word in ['master', 'm.s', 'ms', 'm.sc', 'mba']):
        return 'Masters'
    else:
        return 'Not Mentioned'

In [137]:
jobs_df['Education'] = jobs_df['Job Description'].apply(education_extract)

In [138]:
technologies = [
    "Python", "SQL", "R", "Java", "SAS", "C", "C++", "JavaScript", "TypeScript", 
    "MATLAB", "Julia", "Go", "Shell", "Scala", "Kotlin", "Rust", 
    "Excel", "Jupyter", "RStudio", "NoSQL", "PostgreSQL", "MySQL", "MongoDB"
]

operations = [
    "AWS", "Azure", "GCP", "Git", "Docker", "Kubernetes", "Jenkins", "Airflow",
    "DBT", "Snowflake", "BigQuery", "Redshift", "Looker", "PowerBI", "Tableau", 
    "CI/CD", "DVC", "VS Code", "Apache Kafka", "Apache Beam", "Apache Flink", 
    "Vertex AI", "Weights & Biases", "MLflow", "Neptune", "DataRobot", "H2O.ai", "AutoML"
]

packages = [
    "Pandas", "NumPy", "Scikit-learn", "Statsmodels", "XGBoost", "LightGBM", 
    "TensorFlow", "Keras", "PyTorch", "Spark", "Spark MLlib", "Tidyverse", "FastAPI", 
    "OpenCV", "Transformers", "Hugging Face", "NLTK", "SpaCy", "Gensim",
    "Plotly", "Seaborn", "Matplotlib", "Altair", "Dash", "Bokeh", 
    "BeautifulSoup", "Scrapy", "Prophet", "CatBoost"
]

In [139]:
def extract_matches(text, skill_list):
    text_lower = text.lower()
    found = []
    for skill in skill_list:
        # Regex to match full word, case-insensitive
        if re.search(rf"\b{re.escape(skill.lower())}\b", text_lower):
            found.append(skill)
    return found if found else ["None"]

In [140]:
jobs_df["Tech_Skills"] = jobs_df["Job Description"].apply(lambda x: extract_matches(x, technologies))
jobs_df["Ops_Tools"] = jobs_df["Job Description"].apply(lambda x: extract_matches(x, operations))
jobs_df["Libraries"] = jobs_df["Job Description"].apply(lambda x: extract_matches(x, packages))

In [141]:
from sklearn.preprocessing import MultiLabelBinarizer

mlb_tech = MultiLabelBinarizer()
mlb_ops = MultiLabelBinarizer()
mlb_lib = MultiLabelBinarizer()

tech_df = pd.DataFrame(
    mlb_tech.fit_transform(jobs_df["Tech_Skills"]), 
    columns=[f"tech_{c}" for c in mlb_tech.classes_],  
    index=jobs_df.index
)

ops_df = pd.DataFrame(
    mlb_ops.fit_transform(jobs_df["Ops_Tools"]), 
    columns=[f"ops_{c}" for c in mlb_ops.classes_], 
    index=jobs_df.index
)

lib_df = pd.DataFrame(
    mlb_lib.fit_transform(jobs_df["Libraries"]), 
    columns=[f"lib_{c}" for c in mlb_lib.classes_],  
    index=jobs_df.index
)

jobs_df = jobs_df.join([tech_df, ops_df, lib_df])

In [142]:
# Count frequency of each skill in each category
tech_counts = tech_df.sum().sort_values(ascending=False)
ops_counts  = ops_df.sum().sort_values(ascending=False)
lib_counts  = lib_df.sum().sort_values(ascending=False)

# Display top results
print("Top Tech Skills:")
print(tech_counts.head(10))

print("\nTop Ops Tools:")
print(ops_counts.head(10))

print("\nTop Libraries:")
print(lib_counts.head(10))

Top Tech Skills:
tech_Python    479
tech_SQL       388
tech_None      376
tech_Excel     226
tech_R         218
tech_C         117
tech_Go         74
tech_Java       70
tech_SAS        40
tech_MATLAB     30
dtype: int64

Top Ops Tools:
ops_None          689
ops_Tableau       190
ops_AWS           155
ops_Azure          93
ops_PowerBI        48
ops_CI/CD          37
ops_GCP            35
ops_Kubernetes     32
ops_Snowflake      30
ops_Docker         29
dtype: int64

Top Libraries:
lib_None            872
lib_PyTorch         124
lib_TensorFlow      100
lib_Spark            70
lib_Scikit-learn     47
lib_Pandas           38
lib_NumPy            29
lib_Transformers     25
lib_Keras            14
lib_Hugging Face     13
dtype: int64

In [143]:
#date = datetime.now().strftime('%m-%d-%Y')
date = str('08-01-2025')
local_file = f'final_df_Cleaned_{date}.csv'
jobs_df.to_csv(local_file)
try:
    s3.upload_file(local_file, bucket, f'Cleaned_data/{local_file}')
    print(f'Successfully uploaded {local_file} to the bucket')
except Exception as e:
    print(f'The exception is {e}')

Successfully uploaded final_df_Cleaned_08-01-2025.csv to the bucket

In [144]:
jobs_df

,Company Name,Job Title,Location,Job Description,Salary Estimate,Scrapped_date,Job_Role,Job_Title_Cleaned,Hourly,Min_Salary,Max_Salary,Avg Salary,State,Experience,Seniority_simplified,Education,Tech_Skills,Ops_Tools,Libraries,tech_C,tech_Excel,tech_Go,tech_Java,tech_JavaScript,tech_Julia,tech_Jupyter,tech_Kotlin,tech_MATLAB,tech_MongoDB,tech_MySQL,tech_NoSQL,tech_None,tech_PostgreSQL,tech_Python,tech_R,tech_RStudio,tech_Rust,tech_SAS,tech_SQL,tech_Scala,tech_Shell,tech_TypeScript,ops_AWS,ops_Airflow,ops_Apache Beam,ops_Apache Kafka,ops_AutoML,ops_Azure,ops_BigQuery,ops_CI/CD,ops_DBT,ops_DVC,ops_Docker,ops_GCP,ops_Git,ops_Jenkins,ops_Kubernetes,ops_Looker,ops_MLflow,ops_Neptune,ops_None,ops_PowerBI,ops_Redshift,ops_Snowflake,ops_Tableau,ops_VS Code,ops_Vertex AI,ops_Weights & Biases,lib_Dash,lib_FastAPI,lib_Hugging Face,lib_Keras,lib_LightGBM,lib_Matplotlib,lib_NLTK,lib_None,lib_NumPy,lib_OpenCV,lib_Pandas,lib_Plotly,lib_Prophet,lib_PyTorch,lib_Scikit-learn,lib_Seaborn,lib_SpaCy,lib_Spark,lib_Spark MLlib,lib_Statsmodels,lib_TensorFlow,lib_Tidyverse,lib_Transformers,lib_XGBoost
0,Astyra Corporation,Business Analyst (BHJOB1435_34508),"Richmond, VA","Business Analyst\n*Local to Richmond, VA only ...",$50.00 – $52.00/hr (Employer provided),08-01-2025,Data Analyst,Data Analyst,1,100.0,104.0,102.0,VA,NaN,NaN,Masters,[None],[None],[None],0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,GLC Group,Senior Analyst,United States,Overview\nA leading national multifamily real ...,-1,08-01-2025,Data Analyst,Data Analyst,0,-1.0,-1.0,-1.0,None,5.0,Senior,Not Mentioned,[None],[None],[None],0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,Flex Employee Services,Urgent Hiring Marketing Performance Data Analy...,"Stanford, CA",Are you ready for the next step in your career...,$44.50/hr (Employer provided),08-01-2025,Data Analyst,Data Analyst,1,89.0,89.0,89.0,CA,NaN,NaN,Bachelors,[None],[Looker],[None],0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,Carelinks ABA,Board Certified Behavioral Analyst (BCBA),"Las Cruces, NM",Carelinks ABA is seeking compassionate and dri...,$96K/yr (Employer provided),08-01-2025,Data Analyst,Data Analyst,0,96.0,96.0,96.0,NM,NaN,NaN,Masters,[None],[None],[None],0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,Poshmark,Data Analyst (Product),"Redwood City, CA",Confidence can sometimes hold us back from app...,$102K – $141K/yr (Employer provided),08-01-2025,Data Analyst,Data Analyst,0,102.0,141.0,121.5,CA,NaN,NaN,Masters,"[Python, SQL, R, Excel]",[Looker],[Spark],0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1633,NVIDIA,"Research Scientist, Robotics Research - New Co...","Seattle, WA",NVIDIA is at the forefront of the AI and robot...,$160K – $259K/yr (Employer provided),08-01-2025,Machine Learning Intern,Data Scientist,0,160.0,259.0,209.5,WA,NaN,NaN,PhD,"[Python, C]",[None],[PyTorch],1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1637,Snapchat,"Senior Research Scientist, Creative Vision","Los Angeles, CA",Snap Inc\nis a technology company. We believe ...,$178K – $313K/yr (Employer provided),08-01-2025,Machine Learning Intern,Data Scientist,0,178.0,313.0,245.5,CA,NaN,Senior,PhD,"[Python, C]",[None],[None],1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1639,The Allen Institute for Artificial Intelligence,"Research Scientist, Robotics","Seattle, WA",Persons in these roles are expected to spend p...,$167K – $261K/yr (Employer provided),08-01-2025,Machine Learning Intern,Data Scientist,0,167.0,261.0,214.0,WA,NaN,NaN,PhD,[None],[None],[None],0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1641,DoorDash,"Machine Learning Intern (Master’s only), Fall ...","San Francisco, CA","Job ID: 3203859\nDoorDash, Inc.\nSan Francisco...",-1,08-01-2025,Machine Learning Intern,Machine Learning Intern,0,-1.0,-1.0,-1.0,CA,NaN,Intern,Masters,"[Python, Java, C, Go, Kotlin, Excel]",[MLflow],"[TensorFlow, PyTorch]",1,1,1,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0
1643,NVIDIA,Senior Robotics Research Scientist,"Seattle, WA",We are now looking for a Senior Robotics Resea...,$184K – $299K/yr (Employer provided),08-01-2025,Machine Learning Intern,Data Scientist,0,184.0,299.0,241.5,WA,3.0,Senior,PhD,"[Python, C]",[None],[PyTorch],1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0